rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /enrollments/{studentId} {
      allow read, write: if true;
    }
    match /config/{document=**} {
      allow read, write: if true;
    }
    match /activity_logs/{document=**} {
      allow read, write: if true;
    }
  }
}
